*{
    background-color: blanchedalmond ;
    padding: 0;
    margin:0;
}

h1{
    background-color: rgb(4, 111, 146);
    color: white;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 10px;
}

.one{
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
    margin: 0px 500px;
    background-color: white;
}


.first{
    padding: 20px;
}

h2{
    color: rgb(235, 9, 171);
    font-size: 35px;
    margin: 0 auto;
}

h2{
    margin-bottom:10px;
}

ul{
    padding-left: 50px;
}

h2,ul,p,li{
    background-color: white;
}

